__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.hypotheses
local_results/
test_files/
.gemini/
.agent/
dist/
*.egg-info/
DES/
ignr/
knf_gui/
test_results/
Results/
build/
results/
*.zip
*.tar.gz
