services:
  knf:
    build:
      context: .
      dockerfile: Dockerfile
    image: knf-core:latest
    container_name: knf-core
    working_dir: /work
    volumes:
      - ./:/work
      - knf-cache:/home/mambauser/.knf
    command: ["example.mol", "--charge", "0", "--force"]

volumes:
  knf-cache:
